@import url("https://fonts.googleapis.com/css2?family=Saira:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@1,700&display=swap");

// Light mode (default)
$color-bone: #f1f2f4;
$color-red: #fd2d5e;
$color-green: #12cc91;
$color-blue: #4f6bff;
$color-yellow: #ffd900;
$color-purple: #8338ec;
$color-gray: #d0d0d0;
$color-gray-opaque: #b7b7b75e;
$color-black: #181726;

// Dark mode

$font-size-md: 14px;
$font-size-lg: 36px;

.bold {
  font-weight: bold;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
  scrollbar-width: thin;
}

* {
  box-sizing: border-box;
}

main {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-height: calc(100svh - 135px);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Saira", sans-serif;
  font-size: $font-size-md;
  background-color: $color-bone;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.title {
  top: 100px;
  font-weight: 700;
  font-style: italic;
  font-size: $font-size-lg;
  text-align: center;
  margin: 0px;
}

.guessList {
  margin: 15px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 400px;

  &.md {
    @media (max-width: 601px) {
      width: 100vw;
    }
  }

  @media (min-width: 601px) {
    min-width: 400px;
  }
}

.guessCell_container {
  background-color: $color-gray-opaque;
  width: inherit;
  border-radius: 3px;
  margin: 0.25rem 15px;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &.highlighted {
    border: 3px solid #484848;
  }
}
.guessCell {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  user-select: all;

  &.sm {
    padding: 0.25rem 0.5rem;
    font-size: 12px;
  }
}

.guessCell_fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background: $color-green;
  z-index: -1;
}

.guessForm_container {
  margin: 0 15px;
}

*::placeholder {
  color: rgb(185, 185, 185);
}

.guessForm {
  color: #363636;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 600;
  font-family: "Saira", sans-serif;
  text-indent: 12px;
  height: 36px;
  border-radius: 3px;
  border: 0px;
  padding: 0px;
  margin: 15px 0;
  width: 100%;
  max-width: 400px;
  text-transform: lowercase;
  &:focus {
    outline: 3px solid $color-blue; /* Change the outline color to blue (#00f) */
  }
}

.notification {
  text-align: center;
  font-weight: 600;
  height: 22px;
}

.levelSelectorButton_container {
  width: 50px;
  height: 50px;
  background: rgba(183, 183, 183, 0.37);
  border: solid 3px rgba(0, 0, 0, 0);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  transition: border 0.2s ease-in-out;
  cursor: pointer;
  z-index: 3;

  &:hover {
    border: solid 3px $color-blue;
  }

  &.highlighted {
    border: solid 3px $color-blue;
    background-color: $color-bone;
  }

  &.green {
    background-color: $color-green;
  }

  .random {
    animation: pulse 3s linear infinite;
  }
}

.show {
  display: contents;
}

.levelSelectorModal_backdrop {
  background-color: rgba(0, 0, 0, 0.23);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  // transform: translate(-50%, -50%);
  z-index: 2;
}

.levelSelectorModal_container {
  background-color: $color-bone;
  padding: 15px;
  display: grid;
  grid-template-columns:
    [col1] calc(20% - 0.8rem) [col2] calc(20% - 0.8rem) [col3] calc(20% - 0.8rem)
    [col4] calc(20% - 0.8rem) [col5] calc(20% - 0.8rem);
  grid-gap: 15px;
  max-width: 400px;
  max-height: 400px;
  overflow-y: scroll;
  border-radius: 3px;
  border: 3px solid $color-black;
  scrollbar-width: thin;
}

.modal_wrapper {
  position: relative;
  max-width: 400px;
  width: calc(100vw - 20px);
}

.modal_closeButton {
  $size: 20px;
  background-color: $color-red;
  position: absolute;
  color: white;
  border: none;
  height: $size;
  width: $size;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  z-index: 10;
  right: calc($size / 3 * -1);
  top: calc($size / 3 * -1);
  border: 3px solid $color-black;
}

.levelSelectorModal_cell {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-basis: 1;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  height: 60px;
  border-radius: 3px;
  border: solid 3px rgba(0, 0, 0, 0);
  transition: border 0.2s ease-in-out;
  background-color: $color-gray-opaque;
  .random {
    animation: pulse 3s linear infinite;
  }

  &.gray {
    background-color: $color-gray-opaque;
  }

  &.green {
    background-color: $color-green;
  }

  &:hover {
    border: solid 3px $color-blue;
  }
}

.completedLevelmodal_backdrop {
  background-color: rgba(0, 0, 0, 0.23);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.completedLevelmodal_container {
  text-align: center;
  background-color: $color-bone;
  width: 100%;
  max-width: 400px;
  border-radius: 3px;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  border: 3px solid $color-black;

  .completedLevelmodal_title {
    font-size: 28px;
    margin-bottom: 0.5rem;
  }

  .completedLevelmodal_word {
    background-color: $color-blue;
    width: 100%;
    color: $color-bone;
    margin-bottom: 0.5rem;
  }

  .completedLevelmodal_statsContainer {
    margin-bottom: 2rem;
    .completedLevelmodal_colors {
      display: flex;
      justify-content: center;
      color: $color-black;
      font-size: 18px;
      font-weight: 700;
      margin: 15px;
      > * {
        text-align: center;
        margin: 0.5rem;
        padding: 15px;
        border-radius: 3px;
      }
      > :nth-child(1) {
        // green;
        background-color: $color-green;
      }
      > :nth-child(2) {
        // yellow
        background-color: $color-yellow;
      }
      > :nth-child(3) {
        // red
        background-color: $color-red;
      }
    }

    .completedLevelmodal_closest {
      cursor: pointer;
    }
  }

  .completedLevelmodal_footer {
    display: flex;
    justify-content: space-evenly;

    .completedLevelmodal_closeButton {
      padding: 2px 20px;
      cursor: pointer;
    }
    .completedLevelmodal_nextButton {
      cursor: pointer;
      font-weight: bold;
      color: $color-bone;
      padding: 2px 20px;
      background-color: $color-blue;
      border-radius: 3px;
    }
  }
}

.closestWordList_backdrop {
  background-color: rgba(0, 0, 0, 0.23);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;

  .closestWordList_container {
    border-radius: 3px;
    width: 100%;
    max-width: 400px;
    height: 600px;
    background-color: $color-bone;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
  }
}
.skeleton_container {
  margin: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .skeleton {
    margin: 0.25rem 15px;
  }

  br {
    display: none;
  }
}

.countdown {
  position: absolute;
  top: -60px;
  background-color: $color-bone;
  padding: 15px;
  border-radius: 3px;
  font-weight: 600;
  border: 3px solid $color-black;
}

.howToPlay_container {
  text-align: center;
  margin: 15px 15px 0 15px;
  background-color: white;
  border: 3px solid $color-black;
  border-radius: 3px;
  padding: 15px 15px 0 15px;
  .header {
    font-size: 24px;
    font-weight: 700;
    // text-decoration: underline;
    margin-bottom: 15px;
  }

  .howToPlay_step {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 3px;
    background-color: $color-bone;

    .howToPlay_step_header {
      font-style: italic;
      font-size: 20px;
    }
    .howToPlay_step_content {
      font-size: 18px;
      font-weight: 500;
    }
  }
}

.privacy-policy {
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.playWithFriendsModal_backdrop {
  background-color: rgba(0, 0, 0, 0.23);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;

  .playWithFriendsModal_container {
    border: 3px solid $color-black;
    border-radius: 3px;
    width: 100%;
    max-width: 400px;
    background-color: $color-bone;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 18px;

    .playWithFriendsModal_hostButton {
      cursor: pointer;
      font-weight: bold;
      color: $color-bone;
      padding: 2px 20px;
      background-color: $color-blue;
      border-radius: 3px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 30px;
    }
    .playWithFriendsModal_joinButton {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      color: $color-bone;
      padding: 2px 20px;
      background-color: $color-blue;
      border-radius: 3px;
      height: 50px;
    }
  }
}

.playWithFriends_button {
  cursor: pointer;
  font-weight: bold;
  color: $color-bone;
  padding: 2px;
  background-color: $color-purple;
  border-radius: 3px;
  text-align: center;
  margin: 15px 15px 0 15px;
}

.hostLayout_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .hostLayout_lobbyHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    .hostLayout_lobbyId {
      font-weight: 600;
      font-size: 20px;
      border-radius: 3px;
      padding: 5px 20px;
      background-color: $color-gray;
      margin-left: 15px;
      cursor: pointer;
      user-select: text;
    }
    .hostLayout_lobbyId_button {
    }
  }

  .hostLayout_body {
    margin: 30px 0;
    text-align: center;

    .hostLayout_body_player {
      margin-top: 5px;
    }
  }
  .hostLayout_footer {
  }

  .hostLayout_startButton {
    cursor: pointer;
    font-size: 22px;
    color: $color-bone;
    padding: 2px 30px;
    background-color: $color-blue;
    border-radius: 3px;
  }
}

.joinLayout_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .joinLayout_input {
    color: #363636;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 600;
    font-family: "Saira", sans-serif;
    text-indent: 12px;
    height: 36px;
    border-radius: 3px;
    border: 0px;
    padding: 0px;
    margin: 15px 0;
    width: 100%;
    max-width: 400px;
    text-transform: lowercase;
    &:focus {
      outline: 3px solid $color-blue; /* Change the outline color to blue (#00f) */
    }
  }

  .joinLayout_joinButton {
    cursor: pointer;
    font-size: 22px;
    color: $color-bone;
    padding: 2px 30px;
    background-color: $color-blue;
    border-radius: 3px;
  }
}

@keyframes pulse {
  0% {
    color: rgb(70, 70, 245);
  }
  10% {
    color: rgb(242, 69, 69);
  }
  20% {
    color: rgb(227, 177, 70);
  }
  30% {
    color: rgb(153, 223, 82);
  }
  40% {
    color: rgb(85, 208, 144);
  }
  50% {
    color: rgb(70, 194, 192);
  }
  60% {
    color: rgb(83, 96, 199);
  }
  70% {
    color: rgb(194, 88, 230);
  }
  80% {
    color: rgb(162, 63, 126);
  }
  90% {
    color: rgb(206, 37, 37);
  }
  100% {
    color: rgb(9, 73, 213);
  }
}

@media (min-width: 601px) {
  /* Tablet and larger styles */
}

@media (min-width: 1024px) {
  /* Desktop styles */
}
