@import url("https://fonts.googleapis.com/css2?family=Saira:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@1,700&display=swap");

// Light mode (default)
$color-bone: #f1f2f4;
$color-red: #fd2d5e;
$color-green: #04eca3;
$color-blue: #4f6bff;
$color-yellow: #ffd900;

// Dark mode

$font-size-md: 14px;
$font-size-lg: 36px;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Saira", sans-serif;
  font-size: $font-size-md;
  background-color: $color-bone;
}

.title {
  top: 100px;
  font-weight: 700;
  font-style: italic;
  font-size: $font-size-lg;
  text-align: center;
}

.guessList {
  margin: 1rem 0;
  width: 100%;
  // min-width: 370.55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 400px;
}

.guessCell_container {
  background-color: rgb(183, 183, 183, 0.37);
  width: inherit;
  border-radius: 3px;
  margin: 0.25rem 1rem;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  z-index: -2;
}
.guessCell {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.guessCell_fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //   background: $color-green;
  z-index: -1;
}

.guessForm_container {
  margin: 0.25rem 1rem;
}

.guessForm {
  color: #363636;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 800;
  font-family: "Saira", sans-serif;
  text-indent: 12px;
  height: 36px;
  border-radius: 3px;
  border: 0px;
  padding: 0px;
  margin-top: 1rem;
  width: 100%;
  max-width: 400px;
  text-transform: lowercase;
  &:focus {
    outline: 3px solid $color-blue; /* Change the outline color to blue (#00f) */
  }
}

.notification {
  text-align: center;
  height: 22px;
  margin-bottom: 1rem;
}

@media (min-width: 601px) {
  /* Tablet and larger styles */
}

@media (min-width: 1024px) {
  /* Desktop styles */
}
